# History files
*.Rhistory
*.Rapp.history

# Session Data files
*.RData

# User-specific files
*.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
*.Rproj
*.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
*.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

#DS Store
**/.DS_Store

#Data
Data/

#Output
Output/


Scripts/LBN_0002_AGG_tracking_Fall2020.docx

Scripts/LBN_0002_AGG_tracking_Fall2020.nb.html

Scripts/LBN_0002_AGG_trackingForApp.Rmd

#ignore the generated accompanying html notebook
*.nb.html

Scripts/Old_files/

#ignore the generated html output
*.html
*.docx
!*manuscriptTemplate.docx

*.tex

testCort.png

*.log

03-analysis-notebooks/presentations/AGG_LBN_manuscriptFigures.qmd

03-analysis-notebooks/presentations/nul

03-analysis-notebooks/presentations/testQuarto.pptx

03-analysis-notebooks/presentations/testQuarto2.pptx

03-analysis-notebooks/presentations/testQuartoJS.qmd

03-analysis-notebooks/presentations/testWordExport.Rmd

03-analysis-notebooks/testReport.pdf

ActivationTransient.csv

AG_LBN_myPlot.pdf

AG_LBN_myPlot.png

AG_LBN_testCort.png

hello.qmd

hello_files/figure-html/plot-penguins-1.png

hello_files/libs/bootstrap/bootstrap-icons.css

hello_files/libs/bootstrap/bootstrap-icons.woff

hello_files/libs/bootstrap/bootstrap.min.css

hello_files/libs/bootstrap/bootstrap.min.js

hello_files/libs/clipboard/clipboard.min.js

hello_files/libs/quarto-html/anchor.min.js

hello_files/libs/quarto-html/popper.min.js

hello_files/libs/quarto-html/quarto-syntax-highlighting.css

hello_files/libs/quarto-html/quarto.js

hello_files/libs/quarto-html/tippy.css

hello_files/libs/quarto-html/tippy.umd.min.js

malesCortPPT.pptx

test.pdf

test.png

testPPT.pptx

testPPT.qmd

03-analysis-notebooks/nul

03-analysis-notebooks/presentations/AGG_ephys_2023-04-03_defFig.pptx
