#Replace paths with your paths on your computer. Relative to project root
#Change name of this file to .Renviron

DATA_FOLDER="path/example/Data"

OUTPUT_FOLDER="path/example/Output"

EXCEL_FILE_NAME="fileName.xlsx"